<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<servlet>
		<description></description>
		<display-name>AlarmWebsocket</display-name>
		<servlet-name>AlarmWebsocket</servlet-name>
		<servlet-class>com.ar.service.AlarmWebsocket</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlarmWebsocket</servlet-name>
		<url-pattern>/AlarmWebsocket</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MarketingService</display-name>
		<servlet-name>MarketingService</servlet-name>
		<servlet-class>com.ar.service.MarketingService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarketingService</servlet-name>
		<url-pattern>/MarketingService</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AreaService</display-name>
		<servlet-name>AreaService</servlet-name>
		<servlet-class>com.ar.service.AreaService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AreaService</servlet-name>
		<url-pattern>/AreaService</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeviceServices</display-name>
		<servlet-name>DeviceServices</servlet-name>
		<servlet-class>com.ar.service.DeviceServices</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceServices</servlet-name>
		<url-pattern>/DeviceServices</url-pattern>
	</servlet-mapping>
</web-app>